.vscode
synthetic-dataset.zip
synthetic-dataset
**/*/.venv
**/*/.env
**/*/.DS_Store
.DS_Store
**/test_output
**/test_output_train
**/test_dataset_dummy
**/test_dataset_dummy_train
**/dataset-for-training
prepared_dataset/
**/*.Identifier
unsloth_compiled_cache/
__pycache__
synthetic-dataset.tar.gz
split_dataset